@tailwind base;
@tailwind components;
@tailwind utilities;


.cancel-button {
    background-color: transparent;
    border: 1px solid #ccc; /* Ubah warna border sesuai kebutuhan */
    color: #555; /* Ubah warna teks sesuai kebutuhan */
}

.cancel-button:hover {
    background-color: #f5f5f5; /* Ubah warna background saat hover sesuai kebutuhan */
}